# Terraform template-file "ansible_inventory.tmpl" generating "../ansible/inventory/inventory.ini"
# to be used as an Ansible var_file

[all:vars]
ansible_user=${ssh_user}
%{ for env in keys(elb) ~}

# Environment "${env}"
[${env}]
# DNS for the Load-Balancer
${elb[env].this_elb_dns_name}  # ${elb[env].this_elb_name}
[${env}_servers]
# Private DNS names for the instances
%{ for index, s in http[env].private_dns ~}
${s}
%{ endfor ~}
[${env}_servers:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p ${ssh_user}@${bastion[env].public_ip[0]}"'

%{ endfor ~}

